@import url(variaveis.css);

main {
    margin-top: calc(184.25px + 3rem);
}

body {
    color: var(--preto);
    font-family: var(--montserrat);
    font-size: 16px;
    background-image: url(../icon/baixar_roxo.svg), url(../icon/react_colorido.svg), url(../icon/css_colorido.svg), url(../icon/html_colorido.svg),  url(../icon/javascript_colorido.svg), url(../icon/usa.png);
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
}

.container {
    margin: 10rem auto;
    width: 80%;
}

.titulo {
    font-family: var(--kdam);
}

.titulo--secao {
    border-bottom: 5px solid var(--roxo);
    color: var(--roxo);
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 0.35rem ;
}

.botao-idioma {
    padding: 2px 8px 2px 15px;
    font-family: var(--montserrat);
    display: flex;
    align-items: center;
    z-index: 200;
    background-color: var(--branco);
    transform: translateY(-300%);
    border: 1px solid var(--preto);
    border-left: none;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 500ms;
}

.botao-idioma--brasil {
    position: fixed;
    left: -65px;
}

.botao-idioma--usa {
    position: fixed;
    left: -85px;
}

.botao-idioma:hover {
    font-weight: 600;
    left: -5px;
    cursor: pointer;
}

.botao-idioma-imagem {
    width: 30px;
    padding-left: 5px;
}

@media screen and (max-width: 1024px) {
    .botao-idioma {
        transform: translateY(-160%);
    }    
}

@media screen and (max-width: 768px) {
    .container {
        margin: 6rem auto;
        width: 100%;
    }

    .titulo--secao {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .botao-idioma {
        transform: translateY(-300%);
    }
}